rich==13.7.1
streamlit==1.36.0

numpy==1.26.4
pandas==2.2.3
pillow==10.4.0
XlsxWriter==3.2.0
requests==2.32.3
websocket-client==1.8.0
scikit-fuzzy==0.4.2
opencv-python-headless==4.8.1.78

torch==2.5.1
torchvision==0.20.1
torchaudio==2.5.1

ultralytics==8.3.74

