pip==24.0
setuptools<71
wheel

streamlit==1.36.0

numpy==1.26.4
pandas==2.2.3
pillow==10.4.0
XlsxWriter==3.2.0
requests==2.32.3
websocket-client==1.8.0
scikit-fuzzy==0.4.2

opencv-python-headless==4.7.0.72

--extra-index-url https://download.pytorch.org/whl/cpu
torch==2.5.1+cpu
torchvision==0.20.1+cpu
torchaudio==2.5.1+cpu
ultralytics==8.2.60

